@model CarInsurance.Models.Insuree
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <div class="container">
            <h1 class="title">Get a Quote</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-field ">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control DateOfBirth" } })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.CarYear, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control carYear" } })
                        @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.CarMake, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DUI, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-auto">
                    @Html.LabelFor(model => model.SpeedingTickets, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.CoverageType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group py-5">
                <div class="">
                    <input type="submit" value="Create" class="btn btn-cta" />
                </div>
            </div>
        </div>
    </form>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}

<script type="text/javascript">
    $(function () {
        $(".DateOfBirth").datepicker();

        $(".carYear").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true //to close picker once year is selected
        });
    })

    
</script>